<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Concesionaria PROG3</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background: linear-gradient(to right, #f0f0f0, #dcdcdc);
            margin: 0;
            padding: 0;
            
        }
        header {
            background-color: #4C7361;
            color: white;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }
        .container {
            margin: 20px auto;
            padding: 20px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            color: black;
        }
 
        .titulo {
            margin-left: 185px;
        }
        
        footer {
            margin-top: 20px;
            padding: 20px;
            background: #333;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
      <!-- Header <div class="titulo"><h1><strong>PROG 3</strong></h1></div>-->
      <header>
        
        <h1 class= titulo style="font-family: 'Bebas Neue', sans-serif; color: #333;">
            PROG
            <span style="font-family: 'Times New Roman', serif; color: #c56f36">3</span>
        </h1>

      </header>
      <!-- Content -->
      <div class="content" style="color: black;">
        <h2>Estimado/a {{nombre}},</h2>
        <p>
          Nos ponemos en contacto para informarle que su reclamo número <strong>{{reclamo}}</strong> ha cambiado de estado.
        </p>
        <p>
          A continuación, encontrará más detalles sobre el estado actual de su reclamo.
        </p>
        <ul>
          <li><strong>Número de Reclamo:</strong> {{reclamo}}</li>
          <li><strong>Estado Actual:</strong> FINALIZADO{{estado}}</li>
        </ul>
      </div>
  
      <!-- Footer -->
      <footer>
        <p>Contacto: +54 11 1234-5678 | Email: info@concesionariaprog3.com</p>
        <p>Síguenos en Instagram: <a href="https://instagram.com/concesionariaprog3" style="color: #c56f36;">@concesionariaprog3</a></p>
        <p>Visita nuestro sitio web: <a href="https://www.concesionariaprog3.com" style="color: #c56f36;">www.concesionariaprog3.com</a></p>
        <p>"Tu confianza, nuestro compromiso"</p>
    </footer>
    </div>
  </body>
  </html>